<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bike_store">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bike_store"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Rate"
            android:exported="false" />

        <activity
            android:name=".Rateing"
            android:exported="false" />
        <activity
            android:name=".Sendcomplaint"
            android:exported="false" />
        <activity
            android:name=".Viewpayment"
            android:exported="false" />
        <activity
            android:name=".Viewmyrendrequest"
            android:exported="false" />
        <activity
            android:name=".Rentmakepayment"
            android:exported="false" />
        <activity
            android:name=".Viewothervehicle"
            android:exported="false" />
        <activity
            android:name=".Addrent"
            android:exported="false" />
        <activity
            android:name=".Addvehicle"
            android:exported="false" />
        <activity
            android:name=".Makepayment"
            android:exported="false" />
        <activity
            android:name=".Viewservicerequest"
            android:exported="false" />
        <activity
            android:name=".Viewtimeslot"
            android:exported="false" />
        <activity
            android:name=".Userviewservice"
            android:exported="false" />
        <activity
            android:name=".Cartpayment"
            android:exported="false" />
        <activity
            android:name=".Viewcart"
            android:exported="false" />
        <activity
            android:name=".Addcart"
            android:exported="false" />
        <activity
            android:name=".Addcomments"
            android:exported="false" />
        <activity
            android:name=".Userviewblog"
            android:exported="false" />
        <activity
            android:name=".Usermakepayment"
            android:exported="false" />
        <activity
            android:name=".Userviewbike"
            android:exported="false" />
        <activity
            android:name=".UserViewshop"
            android:exported="false" />
        <activity
            android:name=".Userhome"
            android:exported="false" />
        <activity
            android:name=".Viewproduct"
            android:exported="false" />
        <activity
            android:name=".Viewbikerequest"
            android:exported="false" />
        <activity
            android:name=".Updateprofile"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".Ipsettings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>