{% include 'publicheader.html' %}

<!-- banner section -->
<div class="demo-2">
	<div id="slider" class="sl-slider-wrapper">
		<div class="sl-slider">
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-1"></div>
					<div class="container">
						<h3>The Age Of Bike Race</h3>
						<p>Lorem ipsum dolor sit amet.</p>
					</div>
				</div>
			</div>
			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-2"></div>
					<div class="container">
						<h3>Bike Race, The Adrenaline</h3>
						<p>consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-3"></div>
					<div class="container">
						<h3>Bike Race Is Forever</h3>
						<p>Suspendisse luctus vitae massa.</p>
					</div>
				</div>
			</div>
			<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-4"></div>
					<div class="container">
						<h3>Bike Race - The Revolution</h3>
						<p>Ut vitae metus placerat.</p>
					</div>
				</div>
			</div>
			<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
				<div class="sl-slide-inner">
					<div class="bg-img bg-img-5"></div>
					<div class="container">
						<h3>Enjoy Bike Race</h3>
						<p>Quisque ac turpis felis.</p>
					</div>
				</div>	
			</div>
		</div><!-- /sl-slider -->
		<nav id="nav-dots" class="nav-dots">
			<span class="nav-dot-current"></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</nav>
	</div><!-- /slider-wrapper -->
</div>	
<!-- /banner section -->
{%  include 'footer.html'%}