<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<a href="/">home</a>
<a href="login">login</a>
<a href="shop_registration">shop registration</a>
<a href="spareParts_registration">spareParts registration</a> -->



<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Bike Race A Sports Category Flat Bootstrap Responsive  Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bike Race Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href='css/aos.css' rel='stylesheet prefetch' type="text/css" media="all" />
<link href="/static/css/jquery.mb.thumbgallery.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/info.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/banner.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- /css -->
</head>
<body>
<!-- navigation -->
<nav class="navbar navbar-default navbar-fixed-top" data-aos="flip-up">
    <div class="container">
		<div class="search1">
			<form action="#" method="post">
				<div class="input-group">
					<input type="text" class="form-control" name="search" id="search2" placeholder="Search" required/>
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit" ><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
		</div>
        <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><h1>Bike Race</h1></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav slide-nav">
				<li class="active current"><a href="/">Home</a></li>
				<li><a href="login">login</a></li>
				<li><a href="shop_registration">Shop SignUp</a></li>
				<li><a href="spareParts_registration">Sparepart Registration</a></li>
				<!-- <li><a href="gallery.html">Gallery</a></li>
				<li><a href="drivers.html">Drivers</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Short Codes <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="typo.html">Typography</a></li>
						<li><a href="icons.html">Icons</a></li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li> -->
			</ul>
        </div><!--/.nav-collapse -->		
    </div>
</nav>
<!-- /navigation -->