{% include 'adminheader.html'%}


<!-- banner section -->
<div class="demo-2">
    <div id="slider" class="sl-slider-wrapper" style="height: 200px">
        <div class="sl-slider">
           
                <div class="sl-slide-inner">
                    <div class="bg-img bg-img-1"></div>
                    <div class="container">
                      
                    </div>
                </div>
            </div>
   
        <nav id="nav-dots" class="nav-dots">
           
        </nav>
    </div><!-- /slider-wrapper -->
</div>  
<!-- /banner section -->

<br><br><br><br><br>
<center>
	<h1 style="color: black">Send Reply</h1>
	<form method="post">
		<table class="table" style="width: 500px">
		<tr>
			<th>Reply</th>
			<td><input type="text" required="" class="form-control" name="reply"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="sendreply"></td>
		</tr>
	</table>
	</form>
</center>
{% include 'footer.html'%}